#sex,#is_online,#reference,#user_status,#order{
    width: 80px;
    height: 32px;
    border-color: #dce4ec;
    color: #aeb5bb;}

.gift-in input{width:25px;}
.user_details_type{float:left;width:50%;text-align: left;}

.btn-info:hover,.btn-info:click{
    outline:0!important;
    color:#2a6496!important;
    background: #ecf0f1!important;
    border-color: #ecf0f1!important;

}
.btn-info:focus{
    outline:0!important;
    box-shadow:none;
}

tr:hover .btn-info{
    color:#2a6496!important;
    background: #ecf0f1!important;
    border-color: #ecf0f1!important;
}

.btn-info{
    color:#2a6496!important;
    background: #fff!important;
    border-color: #fff!important;
}
#ul{
    font-size: 12px;
    list-style:none;
    min-width:120px;
    border:1px solid #c1c1c1;
    display:none;
    padding-left:0px;
    position: absolute;
    right:60px;
    background-color: #ffffff
}
.ipt{
    /*margin:1px 0 0 0px;*/
    /*border:0px solid;*/
}
#ul li a{
    display:inline-block;
    float:left;
    width:100%;
    height:30px;
    line-height: 30px;
    text-decoration:none;

    color: #333;
}
#ul li{
    margin-left: 0;
    padding-right: 15px;
    width:100%;height: 30px;
    padding-left:15px;

}

#ul li:hover{
    background-color:#f5f5f5;
}
#ul li a:hover{
    color:#333;
}
.ipt::-ms-input-placeholder {
    text-align: center;
}

.ipt::-webkit-input-placeholder {
    text-align: center;

}