html {  -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; -webkit-font-smoothing:antialiased;}
body { margin:0; padding:0; background-color:#FFF;   text-align:center; color:#404040; font:12px/1.5 Helvetica,arial;}
body{background-color:transparent!important;width: 100%;height: 100%;}
h1,h2,h3,h4,h5,h6,p,figure,form { margin:0;}
table { border-collapse:collapse; border-spacing:0;}
img { border:0; vertical-align:middle; -ms-interpolation-mode:bicubic;}
a { text-decoration:none; color:#2965b1;}
a:focus { outline:thin dotted;}
a:hover { color:#017CB9; text-decoration:underline;outline: none;}
h1 { font-size:16px; line-height:36px;}
h2 { font-size:14px; line-height:30px;}
h3 { line-height:24px;}
h3,h4,h5,h6 { font-size:12px;}
ul,li,ol { margin:0; padding:0; list-style:none outside none;}
ul.has-style li,ol li { margin-left:25px;}
ul.has-style li { list-style:disc;}
ol li { list-style:decimal;}
ul.inline-style li { float:left; display:inline;}
svg:not(:root) { overflow:hidden;}
pre { margin:0; white-space:pre-wrap; white-space:-moz-pre-wrap !important; white-space:-pre-wrap; white-space:-o-pre-wrap; word-wrap:break-word;}

button,input,select,textarea { font-size:100%; font-family:tahoma; margin:0; outline:0 none; vertical-align:baseline; *vertical-align:middle;}
textarea { overflow:auto; vertical-align:top; resize:none;}
button,input { line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"],.submit-btn { -webkit-appearance:button; cursor:pointer; *overflow:visible;}
button[disabled],input[disabled],.disable { cursor:default;}
input[type="checkbox"],input[type="radio"],.form-radio,.form-checkbox { box-sizing:border-box; padding:0; *height:13px; *width:13px;}
fieldset { border:1px solid #c0c0c0; margin:0 2px 18px; padding:0.35em 0.625em 0.75em;}
legend { border:0; padding:0; white-space:normal; *margin-left:-7px;}
button::-moz-focus-inner,input::-moz-focus-inner { border:0; padding:0;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary { display:block;}
audio,canvas,video { display:inline-block; *display:inline; *zoom:1;}
audio:not([controls]) { display:none; height:0;}
nav ul,nav ol { list-style:none; list-style-image:none;}
input[type="search"] { -webkit-appearance:textfield; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; box-sizing:border-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration { -webkit-appearance:none;}
:-moz-placeholder,::-webkit-input-placeholder { color:#999;}
a{ 
text-decoration:none; 
color:#333; 
} 
.btn:focus{outline: none!important;color:rgba(0, 0, 0, 0.58)!important;}
a:link { color: #06F; text-decoration: none; }/* 未访问的链接 */
a:visited { color: #999; text-decoration: line-through; } /* 已访问的链接 */
a:hover { color: #F00; text-decoration: underline; }/* 鼠标移动到链接上 */
a:active { color: #F0F; } /* 选定的链接 */

@media (min-width:768px) {
	.container { width:750px;}

	.col-sm-1 { float:left; width:8.333333333333334%; *width:expression(Math.floor(this.parentNode.clientWidth*1/12)+'px');}
	.col-sm-2 { float:left; width:16.666666666666668%; *width:expression(Math.floor(this.parentNode.clientWidth*2/12)+'px');}
	.col-sm-3 { float:left; width:25%; *width:expression(Math.floor(this.parentNode.clientWidth*3/12)+'px');}
	.col-sm-4 { float:left; width:33.333333333333336%; *width:expression(Math.floor(this.parentNode.clientWidth*4/12)+'px');}
	.col-sm-5 { float:left; width:41.666666666666664%; *width:expression(Math.floor(this.parentNode.clientWidth*5/12)+'px');}
	.col-sm-6 { float:left; width:50%; *width:expression(Math.floor(this.parentNode.clientWidth*6/12)+'px');}
	.col-sm-7 { float:left; width:58.333333333333336%; *width:expression(Math.floor(this.parentNode.clientWidth*7/12)+'px');}
	.col-sm-8 { float:left; width:66.66666666666667%; *width:expression(Math.floor(this.parentNode.clientWidth*8/12)+'px');}
	.col-sm-9 { float:left; width:75%; *width:expression(Math.floor(this.parentNode.clientWidth*9/12)+'px');}
	.col-sm-10 { float:left; width:83.33333333333333%; *width:expression(Math.floor(this.parentNode.clientWidth*10/12)+'px');}
	.col-sm-11 { float:left; width:91.66666666666667%; *width:expression(Math.floor(this.parentNode.clientWidth*11/12)+'px');}
}
@media (min-width:992px) {
	.container { width:970px;}

	.col-md-1 { float:left; width:8.333333333333334%; *width:expression(Math.floor(this.parentNode.clientWidth*1/12)+'px');}
	.col-md-2 { float:left; width:16.666666666666668%; *width:expression(Math.floor(this.parentNode.clientWidth*2/12)+'px');}
	.col-md-3 { float:left; width:25%; *width:expression(Math.floor(this.parentNode.clientWidth*3/12)+'px');}
	.col-md-4 { float:left; width:33.333333333333336%; *width:expression(Math.floor(this.parentNode.clientWidth*4/12)+'px');}
	.col-md-5 { float:left; width:41.666666666666664%; *width:expression(Math.floor(this.parentNode.clientWidth*5/12)+'px');}
	.col-md-6 { float:left; width:50%; *width:expression(Math.floor(this.parentNode.clientWidth*6/12)+'px');}
	.col-md-7 { float:left; width:58.333333333333336%; *width:expression(Math.floor(this.parentNode.clientWidth*7/12)+'px');}
	.col-md-8 { float:left; width:66.66666666666667%; *width:expression(Math.floor(this.parentNode.clientWidth*8/12)+'px');}
	.col-md-9 { float:left; width:75%; *width:expression(Math.floor(this.parentNode.clientWidth*9/12)+'px');}
	.col-md-10 { float:left; width:83.33333333333333%; *width:expression(Math.floor(this.parentNode.clientWidth*10/12)+'px');}
	.col-md-11 { float:left; width:91.66666666666667%; *width:expression(Math.floor(this.parentNode.clientWidth*11/12)+'px');}
}
@media (min-width:1200px) {
	.container { width:1170px;}

	.col-lg-1 { float:left; width:8.333333333333334%; *width:expression(Math.floor(this.parentNode.clientWidth*1/12)+'px');}
	.col-lg-2 { float:left; width:16.666666666666668%; *width:expression(Math.floor(this.parentNode.clientWidth*2/12)+'px');}
	.col-lg-3 { float:left; width:25%; *width:expression(Math.floor(this.parentNode.clientWidth*3/12)+'px');}
	.col-lg-4 { float:left; width:33.333333333333336%; *width:expression(Math.floor(this.parentNode.clientWidth*4/12)+'px');}
	.col-lg-5 { float:left; width:41.666666666666664%; *width:expression(Math.floor(this.parentNode.clientWidth*5/12)+'px');}
	.col-lg-6 { float:left; width:50%; *width:expression(Math.floor(this.parentNode.clientWidth*6/12)+'px');}
	.col-lg-7 { float:left; width:58.333333333333336%; *width:expression(Math.floor(this.parentNode.clientWidth*7/12)+'px');}
	.col-lg-8 { float:left; width:66.66666666666667%; *width:expression(Math.floor(this.parentNode.clientWidth*8/12)+'px');}
	.col-lg-9 { float:left; width:75%; *width:expression(Math.floor(this.parentNode.clientWidth*9/12)+'px');}
	.col-lg-10 { float:left; width:83.33333333333333%; *width:expression(Math.floor(this.parentNode.clientWidth*10/12)+'px');}
	.col-lg-11 { float:left; width:91.66666666666667%; *width:expression(Math.floor(this.parentNode.clientWidth*11/12)+'px');}
}

@media (max-width:767) {
	.hidden-sm { display:none;}
}
@media (max-width:991px) {
	.hidden-md { display:none;}
}
@media (max-width:1199px) {
	.hidden-lg { display:none;}
}

.fl{float: left!important;}
.fr{float: right!important;}
body,html { height:100%;}
.container{padding: 0;margin: 0;}
#box{width:100%;margin:0 auto;overflow: auto;zoom:1;font-size: 1.2em;}
.header{background: #db384c;color: #fff;font-size: 28px;text-align: left;padding: 5%;}
body .modal{top:unset;}