*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url("../img/gacha/niudan_bac@2x.png");
    background-size: 100% 100%;
}
.float_l{
    float: left;
}
.float_r{
    float: right;
}
.top{
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
    line-height: 7vh;
}
.top-l{
    width: 50%;
    cursor: auto;
}
.top-l img{
    height: 3vh;
    margin-top: 2vh;
}
.top-r{
    width: 50%;
    color: #ffffff;
    font-size: 1.3rem;
    text-align: right;
    cursor: auto;
}
.top-button{
    overflow: hidden;
    width: 95%;
    margin: 0 auto;
}
.top-button-l{
    width: 50%;
}
.top-button-r{
    width: 50%;
    text-align: right;
}
.top-button-l .top-l-button{
    height: 5vh;
    margin-top: 3vh;
    cursor: auto;
}
.top-button-r-shop {
    height: 10vh;
    cursor: auto;
}
.box-top{
    width: 100%;
    height: 100%;
    max-height: 80vh;
    position: fixed;
    bottom: 0;
    background-image: url("../img/gacha/menghuanji_zhu@2x.png");
    background-size:100% 100%;
}

.box-bg{

    /*height: 50vh;*/
}
.box-top-start{
    width: 100%;
    height: 13.5vh;
    overflow: hidden;
    margin-top: 46vh;
}
.box-top-start-l{
    width: 50%;
}
.box-top-start-ball{
    height: 7vh;
    margin-left: 56%;
    margin-top: 3vh;
}
.box-top-start-k{
    height: 13vh;
    cursor: auto;
}
.box-top-ball-box{

}
.box-top-ball{
    position: absolute;
}
.box-top-ball-1{
    height: 6vh;
    top: 20vh;
    left: 30%;
}
.box-top-ball-2{
    height: 5vh;
    top: 12vh;
    left: 42%;
}
.box-top-ball-3{
    height: 6vh;
    top: 15vh;
    left: 60%;
}
.box-top-ball-4 {
    height: 6vh;
    top: 26vh;
    left: 36%;
}
.box-top-ball-5{
    height: 9vh;
    top: 19vh;
    left: 44%;
}
.box-top-ball-6{
    height: 5vh;
    top: 25vh;
    left: 62%;
}
.box-top-ball-7{
    height: 3vh;
    top: 29vh;
    left: 48%;
}
.box-top-ball-8{
    height: 3vh;
    top: 31vh;
    left: 57%;
}

.box-top-pay{
    width: 100%;
    overflow: hidden;
    /*margin-left: 9%;
    margin-top: 2vh;*/
}
.box-top-pay-l{
    width: 57%;
    float: left;
    margin-left: 8.5%;
    margin-top: 3vh;
}
.box-top-pay-r{
    width: 25%;
    float: left;
    text-align: center;
    margin-top: 2.5vh;
}
.box-top-pay-c{
    /*height: 6vh;
    float: left;
    margin-left: 2%;
    margin-top: 1vh;*/
    width: 90%;
}
.box-top-pay-p{
    width: 50%;
}
.box-top-pay-l-b{
    float: left;
    text-align: center;
    width: 33.3%;
}
.box-top-start-k-anxia{
    height: 13vh;
    cursor: auto;
    display: none;
}

@media all and (min-width: 370px) and (max-width: 380px) and (min-height:805px) and (max-height:820px){
    .box-top{
        width: 100%;
        height: 100%;
        max-height: 70vh;
        position: fixed;
        bottom: 0;
        background-image: url("../img/gacha/menghuanji_zhu@2x.png");
        background-size:100% 100%;
    }

    .box-bg{

        /*height: 50vh;*/
    }
    .box-top-start{
        width: 100%;
        height: 15vh;
        overflow: hidden;
        margin-top: 38vh;
    }
    .box-top-start-l{
        width: 50%;
    }
    .box-top-start-ball{
        height: 5vh;
        margin-left: 57%;
        margin-top: 5vh;
    }
    .box-top-start-k{
        height: 12vh;
        cursor: auto;
        margin-top: 2vh;
    }
    .box-top-ball-box{

    }
    .box-top-ball{
        position: absolute;
    }
    .box-top-ball-1{
        height: 6vh;
        top: 17vh;
        left: 27%;
    }
    .box-top-ball-2{
        height: 5vh;
        top: 10vh;
        left: 42%;
    }
    .box-top-ball-3{
        height: 6vh;
        top: 14vh;
        left: 60%;
    }
    .box-top-ball-4 {
        height: 6vh;
        top: 24vh;
        left: 32%;
    }
    .box-top-ball-5{
        height: 9vh;
        top: 16vh;
        left: 41%;
    }
    .box-top-ball-6{
        height: 5vh;
        top: 22vh;
        left: 62%;
    }
    .box-top-ball-7{
        height: 3vh;
        top: 26vh;
        left: 48%;
    }
    .box-top-ball-8{
        height: 3vh;
        top: 27vh;
        left: 57%;
    }

    .box-top-pay{
        width: 100%;
        overflow: hidden;
        /*margin-left: 9%;
        margin-top: 2vh;*/
    }
    .box-top-pay-l{
        width: 57%;
        float: left;
        margin-left: 8.5%;
        margin-top: 2vh;
    }
    .box-top-pay-r{
        width: 25%;
        float: left;
        text-align: center;
        margin-top: 2vh;
    }
    .box-top-pay-c{
        /*height: 6vh;
        float: left;
        margin-left: 2%;
        margin-top: 1vh;*/
        width: 90%;
    }
    .box-top-pay-p{
        width: 50%;
    }
    .box-top-pay-l-b{
        float: left;
        text-align: center;
        width: 33.3%;
    }
    .box-top-start-k-anxia{
        height: 12vh;
        cursor: auto;
        margin-top: 2vh;
        display: none;
    }
}

.box-bottom{
    width: 95%;
    overflow: hidden;
    color: #ffffff;
    margin: 3vh auto 0 auto;
}
.box-bottom-l{
    float: left;
    width: 40%;
}
.box-bottom-r{
    float: left;
    width: 60%;
    font-size: 0.8rem;
    text-align: right;

    opacity: 0.6;
}

.gacha-bg{
    width: 100%;
    height: 100vh;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0.5;
    display: none;
}
.gacha-rule{
    width: 100%;
    height: 40vh;
    background: #ffffff;
    position: fixed;
    bottom: 0;
    border-top-left-radius: 10px;
    border-top-right-radius:10px ;
    display: none;
}
.gacha-rule-title {
    text-align: center;
    line-height: 7vh;
    font-size: 1.2rem;
}
.gacha-rule-box{
    overflow: hidden;
}
.gacha-rule-box-a{
    width: 33.333%;
    float: left;
    margin-bottom: 2vh;
}
.gacha-rule-box-b{
    width: 90%;
    margin: 0 auto;
    text-align: center;
    background: #F5F5F8;
    border-radius: 0.5rem;
    overflow: hidden;
}
.gacha-rule-box-b-selected{
    background: #EBDFFF;
}
.gacha-rule-box-b h5{
    font-size: 1rem;
    color: #333333;
    margin-top: 1vh;
}

.gacha-rule-box-b p{
    font-size: 0.8rem;
    color: #909090;
    margin-bottom: 1vh;
}
.gacha-rule-bottom{
    width: 100%;
    overflow: hidden;
    border-top: 1px solid #E1E1E1;
}
.gacha-rule-bottom-l{
    width: 48%;
    float: left;
    margin-left: 2%;
    font-size: 1.2rem;
    margin-top:2.5vh;
}
.gacha-rule-bottom-r{
    float: left;
    width: 48%;
    text-align: right;
}
.gacha-rule-bottom-r button
{
    margin-top: 2vh;
    width: 50%;
    line-height: 5vh;
    font-size: 1.2rem;
    color: #ffffff;
    background: linear-gradient(0deg, #9E1AFF 0%, #C460FF 100%);
    border: none;
    border-radius: 40px;
    outline: none;
}
.gache-notice{
    width: 90%;
    height: 60vh;
    position: fixed;
    top: 20vh;
    left: 5%;
    background-image: url("../img/gacha/rule_bg.png");
    background-size: 100% 100%;
    display: none;

}
.gache-notice-box{
    width: 90%;
    height: 50vh;
    margin: 5vh auto 0 auto;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
}
.gache-notice-box p
{
    opacity: 0.75;
    margin-top: 5vh;
}
