body,html{font-size:12px;margin:0!important;padding:0!important;}
ul,li{list-style-type:none;padding:0;margin:0}
@media (min-width: 370px) and  (max-width: 400px){ 

 }
 @media (max-width: 370px) { 

 }
 @media (min-width: 400px){ 

 }
 .income_withdrawal_bg{background: #F1F1F1;}
 .income_withdrawal_title{width: 95%;height:8em;background: #fff;margin: 1em auto;border-radius: 1em;box-shadow:
-2px 0 3px -1px #fdefff,0 -2px 3px -1px #fdefff,0 2px 3px -1px #fdefff,2px 0 3px -1px #fdefff;}
.income_withdrawal_title_type{float: left;width: 50%;margin-top: 1.5em;border-right:1px solid #F1F1F1;}
.income_withdrawal_title_type_name{width: 100%;height: 2em;line-height: 2em;text-align: center;    color: #808080;}
.income_withdrawal_title_type_coin{width: 100%;height: 2em;line-height: 2em;text-align: center;font-size: 20px;font-weight: bold;color:#323232;}
.income_withdrawal_settlement{width: 95%;height: 10.5em;background: #fff;border-radius: 0.5em;margin:0 auto;box-shadow:
-2px 0 3px -1px #fdefff,0 -2px 3px -1px #fdefff,0 2px 3px -1px #fdefff,2px 0 3px -1px #fdefff;}
.income_withdrawal_settlement_go{width: 100%;height: 2.5em;line-height: 2.5em;padding-left: 1.5em;color:#808080;}
.income_withdrawal_settlement_type{width: 100%;padding:0 1.5em;height: 4em;}
.income_withdrawal_settlement_type_bor{border-bottom: 1px solid #F1F1F1;}
.income_withdrawal_settlement_type_img{float:left;width: 1.5em;height: 1.5em;margin:1em 1em 1em 0.5em;background-image: url('../image/no_get.png');background-size:  100% 100%;}
.income_withdrawal_settlement_type_buy_img{float:left;width: 2em;height: 2em;margin:1em;}
.income_withdrawal_settlement_type_img img,.income_withdrawal_settlement_type_buy_img img{width: 100%;}
.income_withdrawal_settlement_type_bname{float:left;width:50%;height: 4em;line-height: 4em;}
.income_withdrawal_checked .income_withdrawal_settlement_type_img{background-image: url('../image/get.png')!important;}
.income_withdrawal_btn{width: 80%;height: 3em;line-height: 3em;text-align: center;color:#fff; margin:4em auto 0;border-radius: 0.5em;cursor: pointer;
	 background: -webkit-linear-gradient(left, #79C3FB , #B095FE,#FFA0EE); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #79C3FB , #B095FE,#FFA0EE); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #79C3FB , #B095FE,#FFA0EE); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #79C3FB , #B095FE,#FFA0EE); /* 标准的语法（必须放在最后） */}
.income_withdrawal_centent{width: 80%;margin:0 auto;font-size: 12px;color:#909090;line-height: 2em;}


.vehicle_car_btn{position: fixed;width: 100%;height: 100%;background: rgba(3, 3, 3, 0.29); z-index: 2;top:0;left: 0;display: none;}
.vehicle_car_btn_bg{width: 80%;height: 13em;margin:55% auto;background: #fff;border-radius: 1em;}
.vehicle_car_btn_bg_name{float:left;width: 100%;height: 3em;line-height:3em;text-align: center;margin-top: 2em;font-size: 18px;color: #555;font-weight: bold;}
.vehicle_car_btn_bg_btn{float:left;width: 60%;height: 3em;line-height: 3em;margin-top: 5%;margin-left:20%;cursor: pointer;border-radius: 2em;text-align: center;color:#fff;
 background: -webkit-linear-gradient(left, #79C3FB , #B095FE,#FFA0EE); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #79C3FB , #B095FE,#FFA0EE); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #79C3FB , #B095FE,#FFA0EE); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #79C3FB , #B095FE,#FFA0EE); /* 标准的语法（必须放在最后） */
    }


/*绑定账户*/
.bangding_account_bg{background: #fff;}
.bangding_account_type{width: 100%;height: 4.5em;border-bottom: 1px solid #F1F1F1;padding:0 1em;}
.bangding_account_type_name{float:left;width:40%;height: 4.5em;line-height: 4.5em;color:#646464;}
.bangding_account_type_val{float: left;width: 60%;height: 3em;margin-top:0.7em;}
.bangding_account_type_val input{width: 100%;height: 3em;line-height: 3em;border:0px!important;text-align: right;padding-right: 1em; outline: none;
        background-color: rgba(0, 0, 0, 0);color:#7c7c7c;
}
.bangding_account_type_top{margin-top: 1em;}
.bangding_account_type_btn{float:left;width: 60%;height: 3em;line-height: 3em;margin-top: 30%;margin-left:20%;cursor: pointer;border-radius: 2em;text-align: center;color:#fff;
 background: -webkit-linear-gradient(left, #79C3FB , #B095FE,#FFA0EE); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #79C3FB , #B095FE,#FFA0EE); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #79C3FB , #B095FE,#FFA0EE); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #79C3FB , #B095FE,#FFA0EE); /* 标准的语法（必须放在最后） */
    }
 .binding_account{width: 80%;
    height: 3em;
    line-height: 3em;
    text-align: center;
    color: #fff;
    margin: 2em auto 2em;
    border-radius: 0.5em;
    cursor: pointer;
    background: -webkit-linear-gradient(left, #79C3FB , #B095FE,#FFA0EE);
    background: -o-linear-gradient(right, #79C3FB , #B095FE,#FFA0EE);
    background: -moz-linear-gradient(right, #79C3FB , #B095FE,#FFA0EE);
    background: linear-gradient(to right, #79C3FB , #B095FE,#FFA0EE);
}




















