body,html{font-size:14px;height:100%;margin:0;}
ul,li{list-style-type:none;padding:0;margin:0}
@media (min-width: 370px) and  (max-width: 400px){ 
	.medal_title{width: 100%;height: 16em;background: url("../image/xunzhang_bac.png");background-size: 100% 100%;}
	.medal_title_gou{float: left;width: 60%;margin:2em 20% 0;height: 3em;position: relative;}
	.medal_title_img{width: 4em;height: 7em;margin:0em auto;padding-top: 3em;}
	.medal_title_name{width: 100%;height: 2.5em;line-height: 2.5em;text-align: center;color:#A37300;font-size: 16px;margin-top: 1em;}
 }
 @media (max-width: 370px) { 
 	.medal_title{width: 100%;height: 13em;background: url("../image/xunzhang_bac.png");background-size: 100% 100%;}
 	.medal_title_gou{float: left;width: 60%;margin:0.5em 20% 0;height: 3em;position: relative;}
 	.medal_title_img{width: 4em;height: 6em;margin:0em auto;padding-top: 2em;}
 	.medal_title_name{width: 100%;height: 2.5em;line-height: 2.5em;text-align: center;color:#A37300;font-size: 16px;margin-top: 0.5em;}
 }
 @media (min-width: 400px){ 
	.medal_title{width: 100%;height: 16em;background: url("../image/xunzhang_bac.png");background-size: 100% 100%;}
	.medal_title_gou{float: left;width: 60%;margin:2em 20% 0;height: 3em;position: relative;}
	.medal_title_img{width: 4em;height: 7em;margin:0em auto;padding-top: 3em;}
	.medal_title_name{width: 100%;height: 2.5em;line-height: 2.5em;text-align: center;color:#A37300;font-size: 16px;margin-top: 1em;}
 }

/*勋章*/


.medal_title_img img{width: 100%;height: 100%; border-radius: 50%;}

.medal_title_type{float:left;width: 50%;height: 2em;line-height: 2em;text-align: center;color: #A37300;font-size: 12px;}

.medal_title_gou_centent{width: 100%;text-align: center;position: absolute;top:0;height: 3em;line-height: 3em;color:#A37300;font-weight: bold;}
.medal_title_gou_url{width: 1em;height: 0.2em;background:#A37300;margin-top: 2.8em;margin-left: calc(50% - 0.5em);}

.medal_type{width: 100%;padding:0 1em;}
.medal_type li{float: left;width: 33%;height: 9em;margin-top: 0.5em;position: relative;}
.medal_type_day{width: 100%;height: 2em;line-height: 2em;text-align: right;color:#A37300;display: none;position: absolute;top:0;right: 1em;font-size: 12px;}
.medal_type_img{width: 2em;height: 3em;margin:2em auto 0;}
.medal_type_img img{width: 100%;}
.medal_type_name{width: 100%;height: 2em;line-height: 2em;text-align: center;color:#A37300;font-size: 12px;}
.medal_checked{border:1px solid #A37300;border-radius: 0.5em;}
.medal_checked .medal_type_day{display: block!important;}


.medal_bottom{width: 100%;height: 4em;position: fixed;bottom: 0;left: 0;    box-shadow: 0px 2px 6px #e7b3ba;}
.medal_bottom_left{float:left;width: 50%;height: 4em;padding-left: 1.5em;}
.medal_bottom_right{width: 6em;height: 2.5em;line-height: 2.5em;text-align: center;float:right;background:#A37300;margin:0.7em 2em 0 0;border-radius:2em;color:#fff;}
.medal_bottom_left_coin{width: 100%;height: 1.5em;margin-top: 0.7em;line-height: 1.5em;font-weight: bold;color:#A37300;}
.medal_bottom_my_coin{width: 100%;height: 1.5em;line-height: 1.5em;font-size: 12px;color:#909090;}