/*
body,html{font-size:16px;height:100%;margin:0; overflow:hidden;}
.pad{padding:0px!important;}
.download-my{width:50%;height:100%;margin-left:25%;z-index: 11;}
.download-my img{width:100%;}

.section{ display: none; position:absolute; top:0; left:0; width:100%; height:100%; background-color:#FCC; }
.section.current{ display:inline-block;}
.section.next{ display:inline-block; z-index: 2;}
.section.prev{ display:inline-block; z-index: 2;}
.download{height:calc(100% - 6em);width:100%;}
.download_btn{height:3em;width:100%;line-height:3em;text-align:center;color:#fff;background: url("../image/bg.png")no-repeat;background-size: 100% 100%;}
.download2{height:calc(100% - 6em);width:100%;}
.download_btn2{position:relative;height:6em;width:100%;line-height:6em;text-align:center;color:#fff;background: url("../image/bg_bottom.png")no-repeat;background-size: 100% 100%;}
.sec1 .download{background: url("../image/1.jpg")no-repeat;background-size: 100% 100%;}
.sec2 .download{background: url("../image/2.jpg")no-repeat;background-size: 100% 100%;}
.sec3 .download{background: url("../image/3.jpg")no-repeat;background-size: 100% 100%;}
.sec4 .download{background: url("../image/4.jpg")no-repeat;background-size: 100% 100%;}
.sec5 .download{background: url("../image/5.jpg")no-repeat;background-size: 100% 100%;}
.sec6 .download{background: url("../image/6.jpg")no-repeat;background-size: 100% 100%;}
.sec7 .download2{background: url("../image/7.jpg")no-repeat;background-size: 100% 100%;}


.download-tile{position:absolute;top:8em;left:25%;width:50%;height:6em;}
.download-tile-img{width:5em;height:5em;margin:auto;}
.download-tile-img img{width:100%;height:100%;}
.download-tile-name{width:100%;height:3em;line-height:3em;text-align: center;font-size: 16px;font-weight: bold;color:#4caedf;}*/
*{margin: 0;padding: 0;}
.download_bg_img img{
    width: 100%;
}
.download_box{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
}
.download-tile-img{
    width: 100%;
    text-align: center;
    margin-top: 15vh;
}
.download-tile-img img{
    width: 25%;
}
.download-tile-name{
    width: 90%;
    margin: 3vh auto;
    font-size: 2rem;
    color: #FFFFFF;
    text-align: center;
}
.download-my{position: fixed;width:60%;left:20%;bottom:20%;z-index: 11;z-index: 1;height: 3.5em;line-height: 3.5em;text-align: center;color:#e2e2e2;border-radius: 3em;
    background:-webkit-linear-gradient(left,#de5ff9,#eb6f4f);
    background:-o-linear-gradient(right,#de5ff9,#eb6f4f);
    background:-moz-linear-gradient(right,#de5ff9,#eb6f4f);
    background:linear-gradient(to right,#de5ff9,#eb6f4f);
}